{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Smart Grids: Maximize Your Profit</title>

  <!-- Dashboard -->
  <link href="{% static 'index/img/favicon.png'%}" rel="icon">
  <link href="{% static 'index/img/apple-touch-icon.png'%}" rel="apple-touch-icon">
  <link href="{% static 'dashboards/lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'dashboards/lib/font-awesome/css/font-awesome.css'%}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'dashboards/http://cdn.oesmith.co.uk/morris-0.4.3.min.css'%}">
  <link href="{% static 'dashboards/css/style.css'%}" rel="stylesheet">
  <link href="{% static 'dashboards/css/style-responsive.css'%}" rel="stylesheet">
  <!-- Form -->
	<link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico'%}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'loader/loader.css'%}">
</head>

<body>
  <section id="container">
    <!--Top Bar-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="../">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--Sidebar Menu-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered">
            <a>
              <img src="{% static 'dashboards/img/ui.png'%}" class="img-circle" width="80">
            </a>
          </p>
          <br>
          {% for d in data %}
            <h5 class="centered">{{d}}</h5>
            <h5 class="centered">{{ d.operator }}</h5>
          {% endfor %}
          <li class="mt">
            <a href="optimize">
              <i class="fa fa-dashboard"></i>
              <span>Optimize</span>
              </a>
          </li>
          <li>
            <a href="mgp">
                <i class=" fa fa-bar-chart-o"></i>
                <span>MGP History </span>
              </a>
          </li>
          <li>
            <a href="mi">
                <i class=" fa fa-bar-chart-o"></i>
                <span>MI History </span>
              </a>
          </li>
          <li>
            <a href="msd">
                <i class=" fa fa-bar-chart-o"></i>
                <span>MSD History </span>
              </a>
          </li>
          <li>
            <a href="../contacts">
              <i class="fa fa-envelope"></i>
              <span>Contact Us </span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <!--Main Content-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <!-- Form-->
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1><i class="fa fa-angle-right"></i> Insert your daily production limit in MWh:</h1>
          <br>
          <br>
          <br>
          <div class="container" style="width: 20%;">
            <form method="POST">
              {% csrf_token %}  
              <div class="wrap-input100 validate-input">
                {{form.prod_limit}}
                <span class="focus-input100"></span>
              </div>
              <br>
              <div>
                <button id='bttn' class="login100-form-btn" style="width: 100%;" type='submit'>
                  Submit
                </button>
              </div>
            </form>
          </div>
      </section>
    </section>
  </section>

  <!-- Dashboard Javascripts -->
  <script src="{% static 'dashboards/lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'dashboards/lib/bootstrap/js/bootstrap.min.js'%}"></script>
  <script class="include" type="text/javascript" src="{% static 'dashboards/lib/jquery.dcjqaccordion.2.7.js'%}"></script>
  <script src="{% static 'dashboards/lib/jquery.scrollTo.min.js'%}"></script>
  <script src="{% static 'dashboards/lib/jquery.nicescroll.js'%}" type="text/javascript"></script>
  <script src="{% static 'dashboards/lib/raphael/raphael.min.js'%}"></script>
  <script src="{% static 'dashboards/lib/morris/morris.min.js'%}"></script>
  <script src="{% static 'dashboards/lib/common-scripts.js'%}"></script>
  <script src="{% static 'dashboards/lib/morris-conf.js'%}"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
  <!-- Form Javascripts -->
  <script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js'%}"></script>
	<script src="{% static 'login/vendor/animsition/js/animsition.min.js'%}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/popper.js'%}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'login/vendor/select2/select2.min.js'%}"></script>
	<script src="{% static 'login/vendor/daterangepicker/moment.min.js'%}"></script>
	<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js'%}"></script>
	<script src="{% static 'login/vendor/countdowntime/countdowntime.js'%}"></script>
	<script src="{% static 'login/js/main.js'%}"></script>
</body>
</html>