{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{%static 'index/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{%static 'index/img/favicon.png' %}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Smart Grids
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="{%static 'index/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{%static 'index/css/now-ui-kit.css' %}" rel="stylesheet" />
  <link href="{%static 'index/demo/demo.css' %}" rel="stylesheet" />
</head>

<body class="index-page sidebar-collapse">
  <!-- Navbar -->
  <style>
    .hello-msg{
      font-size: 18px;
      color: #fff;
      margin-right: 20px;
    }
  </style>
  <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" rel="tooltip"  data-placement="bottom" target="_blank">
          SMART GRIDS
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar top-bar"></span>
          <span class="navbar-toggler-bar middle-bar"></span>
          <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="{%static 'index/img/blurred-image-1.jpg' %}">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="contacts">
              <i class="now-ui-icons Contacts"></i>
              <p>Contacts</p>
            </a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="logout/">
             Logout</a>
              </span>
            
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image:url('/static/index/img/temp.jpg')">
      </div>
      <div class="container">
        <div class="content-center brand">
          <br>
          <br>
          <br>
          <br>
          <h1 class="h1-seo"><b>SMART GRIDS</b></h1>
          <h3>Maximize your profit in the Italian Energy Market</h3>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row text-center mt-5">
          <div class="col-md-12">
            <br>
            <br>
            <a href="login" class="btn btn-neutral btn-round btn-lg">
              SIGN IN
            </a>
            <br>
            <a href="register" class="btn btn-neutral btn-round btn-lg">
              SIGN UP
            </a>
          </div>
        </div>
        <br>
        <br>
        <h6 class="category category-absolute">Powered by
          <a href="https://www.polito.it/" target="_blank">
            <img src="{%static 'index/img/polito.png' %}" class="invision-logo" />
          </a>
        </h6>
      </div>
    </div>
  </div>

  <!--Description-->
  <div class="main">
    <div class="section section-basic" id="basic-elements">
      <div class="container">
        <br>
        <h1 align="justify">How can we help you?</h1>
        <h4 align="justify">With this application a company operating in the Italian electricity market can maximize its profits. You got it right! Maximize your profits. Whether you’re a small company or a market giant, it doesn’t matter, this platform will advise you on how to manage your resources and your profits will skyrocket.</h4>
        <br>
        <h4 align="justify">It is proposed a data-based predictive platform able to advise the best strategy to the operator in terms of quantity and prices to bid in the markets that articulate the most generic spot markets. This is an achievable result through a clever collection of data, forecasting the markets bids of the next day by exploiting Auto Regressive Integrated Moving Average and an optimization algorithm that maximizes operators' profits.</h4>
      </div>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="{%static 'index/js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{%static 'index/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{%static 'index/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{%static 'index/js/plugins/bootstrap-switch.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{%static 'index/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="{%static 'index/js/plugins/bootstrap-datepicker.js' %}" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="{%static 'index/js/now-ui-kit.js' %}" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      nowuiKit.initSliders();
    });

    function scrollToDownload() {
      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }
  </script>
</body>

</html>